# ESP32-S3 USB JTAG/serial debug unit fixed symlink
# Match tty device properties so rule still works on trigger/change events.
SUBSYSTEM=="tty", KERNEL=="ttyACM*", ENV{ID_VENDOR_ID}=="303a", ENV{ID_MODEL_ID}=="1001", ENV{ID_SERIAL_SHORT}=="DC:DA:0C:72:46:BC", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="esp32-1", GROUP="dialout", MODE="0660"
